/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500 */
/* ////////////////////////////////////////////////////////////////// */
/* ///////////////////////  default  /////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: "Space Grotesk", sans-serif;
}

/* ////////////////////////////////////////////////////////////////// */
/* ///////////////////////  main  /////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
.main {
  display: flex;
}
.hidden {
  display: none;
}
/* cards  */
.cards {
  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-width: 30%;
  padding: 0 2rem;
  position: relative;
}
.cards-front {
  padding: 2rem;
  font-size: 1.8rem;
  color: hsl(0, 0%, 100%);
  background-image: url("../images/bg-card-front.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  box-shadow: 0px 0px 30px rgba(33, 9, 47, 0.3);
  height: 20rem;
  width: 35rem;
  display: grid;
  grid-template-columns: 1fr 1fr;

  position: absolute;
  right: -20%;
  top: 25%;
}
.cards-front-logo {
  grid-column: 1/-1;
}
.cards-front-number {
  grid-column: 1/-1;
  grid-row: 2/4;
  align-self: end;
  justify-self: center;
  letter-spacing: 4px;
  font-size: 2rem;
}
.cards-front-name {
  align-self: end;
  font-size: 1.2rem;
}
.cards-front-month-year {
  align-self: end;
  font-size: 1.2rem;
  text-align: right;
}
.cards-back {
  background-image: url("../images/bg-card-back.png");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 1rem;
  height: 20rem;
  width: 35rem;
  position: absolute;
  top: 50%;
  right: -40%;
  color: hsl(0, 0%, 100%);
  box-shadow: 0px 0px 30px rgba(33, 9, 47, 0.3);
}
.cards-back-cvc {
  letter-spacing: 2px;
  position: absolute;
  top: 45%;
  right: 10%;
  font-size: 1.4rem;
}
.cards-back-pos-relative {
  position: relative;
  width: 100%;
  height: 100%;
}
/* ///////////////// form ///////////////////// */
.input-form {
  min-width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.form label,
.form input {
  display: block;
}
.form {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
  column-gap: 2rem;
  row-gap: 3em;
  max-width: 50%;
  padding: 0 2rem;
  justify-content: center;
  align-content: center;
}
.form-label {
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  color: hsl(278, 68%, 11%);
  margin-bottom: 0.5rem;
}
.form-card-name,
.form-card-number,
.btn {
  padding: 1.2rem;
  min-width: 100%;
  font-size: 1.5rem;
  color: hsl(278, 68%, 11%);
  border-radius: 8px;
  border: 2px solid hsl(270, 3%, 87%);
}
.form input::placeholder {
  color: hsl(270, 3%, 87%);
}
.form div:first-child,
.form div:nth-child(2),
.form button {
  grid-column: 1/-1;
}
.form div {
}
.form div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 3/4;
}
.div-month-year {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}
.form-card-month,
.form-card-year,
.form-card-cvc {
  padding: 1rem;
  color: hsl(278, 68%, 11%);
  border-radius: 6px;
  border: 2px solid hsl(270, 3%, 87%);
  font-size: 1.5rem;
}
.form-card-month,
.form-card-year {
  max-width: 7rem;
}
.btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(278, 68%, 11%);
  border: none;
  cursor: pointer;
}
/* ////////////////////////////////////////////////////////////////// */
/* ///////////////////////  media query /////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// */
@media (max-width: 1024px) {
  .cards {
    min-width: 40%;
  }
  .cards-front,
  .cards-back {
    right: -20%;
  }
}
@media (max-width: 900px) {
  .main {
    flex-direction: column;
  }
  .cards {
    background-image: url("../images/bg-main-mobile.png");
    min-width: 100%;
    height: 30rem;
    padding: 0 3rem;
  }
  .cards-front {
    top: 50%;
    left: 15%;
    z-index: 9999;
  }
  .cards-back {
    top: 10%;
    left: 30%;
  }
  .input-form {
    max-width: 100%;
    height: 70vh;
    flex: 1 1 auto;
  }
}
@media (max-width: 508px) {
  .cards-front {
    left: 8%;
  }
  .cards-back {
    left: 16%;
  }
}
@media (max-width: 420px) {
  .cards-front,
  .cards-back {
    width: 35rem;
  }
  .cards-front {
    left: 2%;
  }
  .cards-back {
    left: 5%;
  }
}
